:root {
  --Light_Grayish_Cyan_Background: hsl(180, 52%, 96%);
  --Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
  --Dark_Grayish_Cyan: hsl(180, 8%, 52%);
  --Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
  --primary: hsl(177, 28%, 51%);
}
