@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --Light_Grayish_Cyan_Background: hsl(180, 52%, 96%);
  --Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
  --Dark_Grayish_Cyan: hsl(180, 8%, 52%);
  --Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
  --primary: #5ea5a2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
  font-size: 1.5rem;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body {
  font-family: "League Spartan", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
a,
button {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb {
  justify-content: space-between;
}
.col {
  flex-direction: column;
}

.main {
  padding: 0 15.5rem;
  background-color: var(--Light_Grayish_Cyan_Background);
}

.bg-top {
  height: 14.6rem;
  width: 100%;
  background-color: #5da5a4;
}

/* margin: 6.6rem; from the top header */
.job-div {
  height: 14.6rem;
  margin: 1.8rem 0;
  background-color: white;
  padding: 3.4rem 3.7rem;
  box-shadow: 0px 0.5rem 1rem hsla(180, 29%, 50%, 0.25);
}
.job-div::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-left: 5px solid var(--primary);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pic-div {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.left-side {
  gap: 2.2rem;
}
.roles .top {
  gap: 1rem;
  justify-content: left;
}

.roles .top h1 {
  color: var(--primary);
  font-weight: 700;
}

.attributes {
  gap: 1.6rem;
}

.attributes > div {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  background-color: var(--Light_Grayish_Cyan_Background);
  color: var(--primary);
  font-weight: 700;
  border-radius: 0.2rem;
  gap: 2rem;
}

.new,
.featured {
  width: 5rem;
  height: 2.6rem;
  border-radius: 1.4rem;
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.featured {
  width: 9rem;
  height: 2.6rem;
  background-color: var(--Very_Dark_Grayish_Cyan);
}

.roles .mid {
  margin: 1rem 0;
  font-weight: 700;
}

.bottom {
  justify-content: left;
  gap: 2rem;
}
.bottom > p {
  color: #888c8d;
}
